.card-nilima {
  background: url("../assets/NSM\ 1.jpg");
  background-position: center;
}

.card-nilima .overlay {
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

.card-nilima .head hr {
  border-color: #a6a961;
}

.card-nilima .button-link {
  border-color: #a6a961;
  color: #a6a961;
}

.card-nilima .button-link:hover {
  background-color: #a6a961;
  color: black;
}

.card-container:hover {
  background-size: 110%;
}

.card-container:hover h1 {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.card-bala {
  background: url("../assets/bala.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-bala .overlay {
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

.card-bala .head hr {
  border-color: #98c3ee;
}

.card-bala .button-link {
  border-color: #98c3ee;
  color: #98c3ee;
}

.card-bala .button-link:hover {
  background-color: #98c3ee;
  color: black;
}

.card-sonali {
  background: url("../assets/Prof.\ Sonaali.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.card-sonali .overlay {
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

.card-sonali .head hr {
  border-color: #f9d458;
}

.card-sonali .button-link {
  border-color: #f9d458;
  color: #f9d458;
}

.card-sonali .button-link:hover {
  background-color: #f9d458;
  color: black;
}

.card-container {
  width: 300px;
  height: 389px;
  position: relative;
  background-color: black;
  background-size: 100%;
  -webkit-transition: background-size 0.7s;
  transition: background-size 0.7s;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.overlay {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 2fr 2fr 2fr;
  grid-template-rows: 1fr 2fr 2fr 2fr;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: "Playfair Display", serif;
}

.items {
  padding-left: 20px;
  letter-spacing: 3px;
}

.card-heading {
  position: absolute;
  font-size: x-large;
  width: 100%;
  animation: glow 2s infinite ease-in;
}

@keyframes glow {
  from {
    color: black;
  }
  to {
    color: white;
  }
}

.head {
  line-height: 50px;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.head hr {
  display: block;
  width: 0;
  border: none;
  border-bottom: solid 2px;
  position: absolute;
  top: 40px;
  left: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.price {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  opacity: 0;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.button-link {
  padding: 8px;
  border: 1px solid;
}

.button-link a {
  text-decoration: none;
  color: inherit;
}

.cart {
  margin-top: 16px;
  font-size: 12px;
  opacity: 0;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.cart i {
  font-size: 16px;
}

.cart span {
  margin-left: 10px;
}

.card-container:hover .overlay {
  opacity: 1;
}

.card-container:hover .overlay .head {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.card-container:hover .overlay hr {
  width: 75px;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.card-container:hover .overlay .price {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  opacity: 1;
}

.card-container:hover .overlay .cart {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
  opacity: 1;
}
.tap {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
  width: 100%;
  font-weight: bold;
  opacity: 0;
}

.card-container:hover .tap {
  transition: all 0.5s;
  opacity: 0;
}

@media screen and (max-width: 600px) {
  .tap {
    opacity: 1;
  }
}
