@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    overflow-x: hidden;
}
.level{
    width: 100%;
    font-size: 2em;
    height: 50px;
    overflow-x: hidden;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 1px 1px black , 2px 2px gray;
}
.level-transition{
    animation: level 0.7s ease forwards;
}
.slideRight{
    animation: slideRight 0.7s ease forwards;
}
.slideLeft{
    animation: slideLeft 0.7s ease forwards;
}
.opacityAnimation{
    animation: opacityAnimation 1.2s ease-in forwards;
}
.dropBox-level-02{
    width: 15vw;
    height: 15vw;
    border-radius: 0.3em;
    box-sizing: border-box;
    font-size: larger;
    font-family: 'Roboto', sans-serif;
    padding: 4px;
}
.option{
    width: 40vw;
    border-radius: 0.2em;
    font-family: 'Roboto', sans-serif;
}
.bg-success-light{
    background-color: #e0ffaf;
}
.bg-purple{
    background-color: #e7dcf8;
}
@keyframes opacityAnimation{
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}
@keyframes level {
    0%{
        opacity: 0;
        font-size: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        font-size: 2em;
        transform: translateY(0%);
    }
}

@keyframes slideRight{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes slideLeft{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.bg-blue-gradient{
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}
.text-wheat{
    color:  wheat ;
    text-shadow: 1px 1px black;
}
.option-level-01{
    width: 18vw;
    height: 18vw;
    margin: 1em;
    padding: 6px;
}
.bg-option{
    background-color: lightgreen;
} 

.option-level-03{
    width: 20vw;
    height: 30vw;
}
.dropBox-level-03{
    width: 15vw;
    height: 15vw;
    border-radius: 0.3em;
    box-sizing: border-box;
    font-size: larger;
    font-family: 'Roboto', sans-serif;
    padding: 4px;
}
.option-clicked{
    opacity: 0.4;
}
@media screen and (max-width: 600px){
    .h2{
        font-size: 1.2em;
    }
    .h3{
        font-size: 1em;
    }
    .container{
        padding: 0 ;
    }
    .option-level-01{
        width: 28vw;
        height: 28vw;
        padding: 4px;
        margin: 0.2em;
    }
    .option-level-02{
        width: 40vw;
        height: 40vw;
    }
    .option-level-05{
        width: 40vw;
        height: 40vw;
        padding: 6px;
        margin: 0.2em;
    }
    .dropBox-level-02{
        width: 40vw;
        height: 40vw;
        font-size: 1em;
    }
    .dropBox-level-03{
        width: 20vw;
        height: 30vw;
        font-size: 0.55em;
    }
    .option{
        width: 43.5vw;
    }
    .option-level-07{
        width: 100vw;
    }
    .option-level-03{
        width: 20vw;
        height: 30vw;
    }
}
@media screen and (max-width: 360px){
    .option{
        width: 42vw;
    }
}